/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 ,h2 ,h3 ,p , {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    

}
main{
    display: grid;
    gap: 1.7rem;
}

main a{
    margin-block: 1rem;
    display: inline-block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: var(--Soft-red);
    padding-inline: 1rem;
    padding-block: 0.8rem;
    font-size: 12px;
    letter-spacing: 4px;
    width: 50%;
    text-align: center;
}
/* reset */

/* base */
body{
    font-family: 'Inter', sans-serif;
    background-color: var(--Off-white);
}
p{
    font-size: 15px;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
}
h1{
    font-weight: 800;
    font-size: 3rem;

}

h2, h3{
    font-weight: 700;
}
h2{
    color: var(--Grayish-blue);
}

/* base */

/* variable */
 /* Primary */
:root{
--Sof-orange: hsl(35, 77%, 62%);
--Soft-red: hsl(5, 85%, 63%);

/* ### Neutral */

--Off-white: hsl(36, 100%, 99%);
--Grayish-blue: hsl(233, 8%, 79%);
--Dark-grayish-blue: hsl(236, 13%, 42%);
--Very-dark-blue: hsl(240, 100%, 5%);
}
/* variable */



/* intro image */
body .intro-image{
    width: 100%;
}
/* intro image */



/* article images */
article img{
    height:125px ;
    width: 100px;
}
/* article image */


/* section cta */
 .cta{
    
    background-color: var(--Very-dark-blue);
    padding-block: 1rem;
}
.cta article{
    padding-block: 1.5rem;
    border-bottom:0.1rem var(--Off-white) solid;
}
.cta article p{
    color:var(--Grayish-blue) ;
    

}
.cta :last-child{
    border-bottom: none;
}

.cta h2{
    color: var(--Sof-orange);
}

.cta h3{
    color: var(--Off-white);
    font-size: 20px;
    padding-block: 0.5rem;
}

/* section cta */

/* section activity */

.activity{
    gap: 20px;

}
.activity article{
    display: flex;
    padding-block: 2rem;

}

.activity article .tech{
   padding-left: 1rem;
}

.activity article h3{
    font-size: 17px;
    padding-block: 1rem;
    
}
/* navbar */
.offcanvas.offcanvas-end{
    width: 65%;

}
.container-fluid{
    padding-inline: 0px;
}
.navbar-toggler{
    padding-inline: 0px;
}
/* navbar */

/* desktop-view-query */
@media (min-width: 777px){
   
   nav .navbar-nav{
    padding-inline: 0px;
   }
    main{
        height: 700px !important;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "intro-image intro-image cta"
        "head left-link cta"
        "activity activity activity"
    }

    main > *{
        padding: 0px;
        margin: 0px;
    }
    .intro-image{
        grid-area: intro-image;
    }

    h1{
        grid-area:head ;
    }

    .leftlinkp{
        grid-area: left-link;
    }

    .cta{
        grid-area: cta;
    }

    .activity{
        grid-area: activity;
        display: flex;
        justify-content: space-evenly;
    }

    /* intro-img */
    .intro-image ,h1 ,.leftlinkp{
        height: 100%;
        
        flex-direction: column;
       
    }
    .leftlinkp{
        justify-content: space-between;
        display: flex;
        
        
    }


.cta :last-child{
    padding-bottom: 0px;
}


    main a{
        margin-bottom: 0px;
    }
    h1{
        font-size: 3.5rem;
    }
    .activity article h3{
        font-size: 13px;
        padding-block: 0.5rem;
    }
    
    p{
        font-size: 13px;
    }

}
@media only screen and (max-width: 991px) and (min-width: 777px){
    h1{
        font-size: 2rem;
}
p{
    font-size: 10px;
}
.activity article h3{
    font-size: 10px;
    font-weight:800;
}
main a{
    font-size: 10px;
    width: 70%;
}
.activity  {
    padding: auto;
}




}


